{% extends 'base.html' %}
{% load static %}

{% block title %}Paper Trading{% endblock %}

{% block css%}
    <link rel="stylesheet" href="{% static 'styles/papertrading.css' %}">
{% endblock %}

{% block content %}
    <h3>Weclome to the Paper Traing Site, click a button to get started!</h3>
    <section class="graph-and-table">
        <div class="graph-container" id="graph-container">
            
        </div>
        <div class="table-with-info">
            <div id="user-balance"></div>
            <table class="stocks-table">
                <caption>
                    Portfolio
                </caption>
                <thead>
                    <tr>
                        <th scope="col" class="stocks-table-item">Stocks</th>
                        <th scope="col" class="stocks-table-item">Quantity</th>
                        <th scope="col" class="stocks-table-item">Bought At</th>
                    </tr>
                </thead>
                <tbody id="stocks-table-body" class="stocks-table-body">

                </tbody>
            </table>
            <div class="stock-info-container">
                <table class="stock-info-table">
                    <thead>
                        <th class="stock-info-table-item">Ticker</th>
                        <th class="stock-info-table-item">Volume</th>
                        <th class="stock-info-table-item">Value</th>
                    </thead>
                    <tbody id="stock-info" >

                    </tbody>
                </table>

                <form action="" class="stock-info-form">
                    <label for="ammount">
                        Input the desired ammount to buy or sell
                        <input type="number" name="ammount" id="ammount">
                        <select name="buy-sell" id="buy-sell">
                            <option value="buy">Buy</option>
                            <option value="slee">Sell</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
    </section>
    <div class="button-container" id="button-container">
    </div>

    <div id="user-stocks" style="display: none;">{{ stocks_json | safe }}</div>
    <div id="stocks-data" style="display: none;">{{ data_json | safe }}</div>
    <div id="balance-data" style="display: none;">{{ balance_json | safe }}</div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'papertrading.js' %}"></script>
{% endblock %}