{% extends 'base.html' %}
{% load static %}

{% block title %}Paper Trading{% endblock %}

{% block css%}
    <link rel="stylesheet" href="{% static 'styles/papertrading.css' %}">
{% endblock %}

{% block content %}
    <h3>Hello you've made it to the trading sim site!</h3>
    <section class="graph-and-table">
        <div class="graph-container" id="graph-container">
            
        </div>
        <table class="stocks-table">
            <caption>
                These are your owned stocks!
            </caption>
            <thead>
                <tr>
                    <th scope="col" class="stocks-table-item">Stocks</th>
                    <th scope="col" class="stocks-table-item">Quantity</th>
                    <th scope="col" class="stocks-table-item">Value</th>
                    <th scope="col" class="stocks-table-item">Buy/Sell</th>
                </tr>
            </thead>
            <tbody id="stocks-table-body" class="stocks-table-body">

            </tbody>
        </table>
    </section>
    <div id="button-container">
    </div>

    <div id="user-stocks" style="display: none;">{{ stocks_json | safe }}</div>
    <div id="stocks-data" style="display: none">{{ data_json | safe }}</div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'papertrading.js' %}"></script>
{% endblock %}